/*This file generate Styles for mobile, table, and destop devices */
@media only screen and (max-width:500px) {
   article img {
      display: none;
   }
   
   ul.submenu {
      text-align: center;
   }
}

@media only screen and (min-width:501px) {
   nav{
       float: left; 
       width: 130px;
       height: 400px;
       margin-top: 30px;
       margin-right: 25px;
       margin-bottom: 0px;
       margin-left: 0px;
   }
}

@media only screen and (min-width:710px) {
   nav{
      float: none; 
      width: 100%;
      height: auto;
      margin: 0px;
  }

  ul.mainmenu{
   display: flex;
   flex-flow: row wrap;
   justify-content: center; 
  }
  
  ul.mainmenu li{
   flex-grow: 0;
   flex-shrink: 1;
   flex-basis: 120px;
  }
}